<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Blog</h1>
  <p>You are not logged in. Please <a href="/signup">sign up</a>.</p>
</body>
</html>
